<div ng-include="'components/navbar/navbar.html'"></div>
<div class="striped container">

    <div class="row col s12" >
            <div class="col-md-7 md-whiteframe-z5">
                <div class="row">
                    <md-toolbar class="md-accent">
                        <center>
                            <div class="span4">
                                <h3 class="md-toolbar-tools">Credit Card Information</h3>
                            </div>
                        </center>
                    </md-toolbar>
                    <br>

                    <form stripe-form="handleStripe" name="myForm">

                        <md-input-container>
                            <label>Card number</label>
                            <input type="text"  ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type" />
                        </md-input-container>

                        <md-input-container>
                            <label>Expiry</label>
                            <input type="text"  ng-model="expiry" payments-validate="expiry" payments-format="expiry" />
                        </md-input-container>

                        <md-input-container>
                            <label>Name on card </label>
                            <input type="text" >
                        </md-input-container>

                        <md-input-container>
                            <label>CVC</label>
                            <input type="text"  ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type" />
                        </md-input-container>
                        <h4>your Total charge is <a style="color:#3498db">{{chargeNow | currency}}</a></h4>
                        <div class="span4">

                            <center>
                                <button type="submit" class="btn btn-primary waves-effect btn-large">Submit</button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>


                <div class="orderInfor col-md-5 ">
                    <md-toolbar class="md-accent">
                        <div class="span4">
                            <center>
                                <h3 class="md-toolbar-tools">Your order Information</h3>
                            </center>
                        </div>
                    </md-toolbar>
                    <br>

                    <h4>your Total charge is <a style="color:#3498db">{{chargeNow | currency}}</a></h4>
                    <md-content class="md-padding">
                    <p>You will only have to put your credit card information in once. Next time you sign in we will have your credit card on file, So you can quickly and easly get the help you need.</p>
                    </md-content>
                    <div class="col-md-12 col-sm-12">
                      <md-content class="md-padding">
                            <h4 style="color: #3ab4df;">We Also have VIP Annual Plans:</h4>
                            <h5>Platinum Membership -- $2,999</h4>
                                     <ul class="pricing-content list-unstyled" style="background-color:white;">
                                    <li>Unlimited house calls for 12 months*</li>
                                    <li>Premium customer service support</li>
                                </ul>

                                   <h5>Silver Membership -- $1,999</h5>
                            <ul>
                                <li>Covers 10 house calls for 12 months</li>
                                <li>Enhanced customer service support</li>

                            </ul>
                          </md-content>

                    </div>
                </div>
    </div>
</div>