
<div id="footer" style="background-color:rgb(59,89,152);">
    <div class="container" style="background-color:rgb(59,89,152);">
        <ul class="nav navbar-nav">
            <li><a href="/team" style="color: pink;">Who We Are</a></li>
            <li><a href="/services" style="color: pink;">Our Doctors</a></li>
            <li><a href="/signup" style="color: pink;">Availability</a></li>
            <li><a href="/pricing" style="color: pink;">Pricing</a></li>
            <li><a href="#contact" style="color: pink;">Contact Us</a></li>
            <li><a href="/team" style="color: pink;">About Us</a></li>
            <li><a href="/pricing" style="color: pink;">Help</a></li>
        </ul>
    Providing house calls on demand in under 40 minutes
    </div>
<!--     <div class='container'>
           <ul class="nav navbar-nav">
            <li><a href="/team" style="color: pink;">Who We Are</a></li>
            <li><a href="/services" style="color: pink;">Our Doctors</a></li>
            <li><a href="/signup" style="color: pink;">Availability</a></li>
            <li><a href="/pricing" style="color: pink;">Pricing</a></li>
            <li><a href="#contact" style="color: pink;">Contact Us</a></li>
            <li><a href="/team" style="color: pink;">About Us</a></li>
            <li><a href="/pricing" style="color: pink;">Help</a></li>
        </ul>
    </div> -->
</div>
