<div class="container">
    <center>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <p>Copyright &copy; 2015 BabyDoctors -</p>
            </div>
        </div>
    </center>
</div>
<div id="footer">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="/team">Who We Are</a></li>
            <li><a href="/services">Our Doctors</a></li>
            <li><a href="/signup">Availability</a></li>
            <li><a href="/services">Pricing</a></li>
            <li><a href="/pricing">Contact Us</a></li>
            <li><a href="/pricing">About Us</a></li>
            <li><a href="/faq">FAQ's</a></li>
            <li><a href="/pricing">Help</a></li>
        </ul>
    </div>
</div>
