
<div id="footer" style="background-color:rgb(59,89,152);">
    <div class="container" style="background-color:rgb(59,89,152); border-bottom-style:solid; border-bottom-width: 1px; border-bottom-color: #8B9DC3;">
        <ul class="nav navbar-nav">
            <li><a href="/team" style="color: pink;">Who We Are</a></li>
            <li><a href="/services" style="color: pink;">Our Doctors</a></li>
            <li><a href="/signup" style="color: pink;">Availability</a></li>
            <li><a href="/pricing" style="color: pink;">Pricing</a></li>
            <li><a href="#contact" style="color: pink;">Contact Us</a></li>
            <li><a href="/team" style="color: pink;">About Us</a></li>
            <li><a href="/pricing" style="color: pink;">Help</a></li>
        </ul>
        <br>
        <br>
    </div>
    <div  class="col-lg-12"style="z-index: 10; background-color:rgb(59,89,152); ">
        <span style='text-align: right; float: left; background-color:rgb(59,89,152); color: white;'>Providing house calls on demand in under 40 minutes</span>
        <center>
        <span style='background-color:rgb(59,89,152); color: white;'>Copyright 2015 Baby Doctor.</span>
         <span style='float: right; background-color:rgb(59,89,152); color: white;'>Terms&nbsp;&nbsp;&nbsp;&nbsp;
        <span style='text-align: right;d background-color:rgb(59,89,152); color: white;'>Privacy</span>
        </span>
    </center>
    </div>

<!--     <div class='container'>
           <ul class="nav navbar-nav">
            <li><a href="/team" style="color: pink;">Who We Are</a></li>
            <li><a href="/services" style="color: pink;">Our Doctors</a></li>
            <li><a href="/signup" style="color: pink;">Availability</a></li>
            <li><a href="/pricing" style="color: pink;">Pricing</a></li>
            <li><a href="#contact" style="color: pink;">Contact Us</a></li>
            <li><a href="/team" style="color: pink;">About Us</a></li>
            <li><a href="/pricing" style="color: pink;">Help</a></li>
        </ul>
    </div> -->
</div>
