/*Services Block*/
.services {
  padding: 30px 0;
  padding-bottom:1px;
  box-shadow: inset 0 0 4px #eee;
  font-family: 'Open Sans', sans-serif;
  color:#8E959C;
}

.services h1 {
  font-size:50px;
  font-weight:300 !important;
  color:#3498db;
}
.services h4 {
  line-height: 1.4em;
}
.services p {
  margin-bottom: 0;
  color:#8E959C;
}
.services span {
  color: #666;
  display: block;
  font-size: 28px;
  font-weight: 200;
  line-height: 35px;
  margin-bottom: 12px;
  font-family: 'Open Sans', sans-serif;
}
.services a.btn-go {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 22px;
  font-weight: bold;
  background: #72c02c;
  display: inline-block;
  text-decoration: none;
  padding: 12px 28px 9px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #51a00b;
}
.services a.btn-buy:hover {
  color: #fff;
  background: #68af28;
  text-decoration: none;
  box-shadow: 0 0 5px #c0c2c1;
}






/*Service*/
.service {
  overflow: hidden;
  margin-bottom: 10px;
  padding: 15px 15px 10px;
}
.service:hover {
  background: #fcfcfc;
  box-shadow: 0 0 5px #ddd;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}
.service:hover i {
  color: #656565;
}

.service .desc {
  padding: 0 15px;
  overflow: hidden;
}
.service .desc h4 {
  font-size: 22px;
  line-height: 25px;
}

.service .service-icon {
  float: left;
  padding: 10px;
  color: #72c02c;
  font-size: 45px;
  text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.service .service-icon.icon-cogs {
  font-size: 37px;
}
.service .service-icon.icon-plane {
  font-size: 43px;
}

/* Recent Work  */
.recent-work a {
  text-align: center;
  background: #fcfcfc;
  display: inline-block;
}

.recent-work a:hover {
  text-decoration: none;
}

.recent-work a:hover strong {
  color: #555;
}

.recent-work em.overflow-hidden {
  display: block;
}

.recent-work a span {
  display: block;
  padding: 10px;
  border-bottom: solid 2px #eee;
}

.recent-work a strong {
  color: #555;
  display: block;
}

.recent-work a i {
  color: #777;
}

.recent-work a img {
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}

.recent-work a:hover img {
  opacity: 0.8;
   -webkit-transform: scale(1.2) rotate(3deg);
   -moz-transform: scale(1.2) rotate(3deg);
   -o-transform: scale(1.0) rotate(3deg);
   -ms-transform: scale(1.2) rotate(3deg);
   transform: scale(1.2) rotate(3deg);
}

.recent-work a:hover span {
  border-bottom: solid 2px #72c02c;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*Blockquote*/
blockquote p {
  font-size: 16px;
  font-weight: 200;
}

blockquote:hover {
  border-left-color: #72c02c;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.hero {
  padding: 18px;
  margin: 20px 0;
  color: #566c8a;
  font-size: 16px;
  background: #fcfcfc;
  border-left: 4px solid #94c564;
  font-family: 'Open Sans', sans-serif;
}
.hero h1, .hero p {
  text-shadow: 1px 1px 0 #fff;
}

.hero-unify p {
  font-size: 13px;
  line-height: 20px;
}
/*Portfolio v1
------------------------------------*/
.view {
   z-index:9;
   cursor: default;
   overflow: hidden;
   text-align: center;
   position: relative;
   margin-bottom: 30px;
   box-shadow: 0 0 3px #ddd;
}
.view .mask,.view .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 22px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
   text-shadow:none;
}
.view p {
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
   position: relative;
   color: #fff;
   padding: 10px 20px 10px;
   text-align: center;
}
.view a.info {
   color: #fff;
   background: #000;
   padding: 5px 12px;
   text-decoration: none;
   margin-top:10px;
   display: inline-block;
   overflow:hidden;
   text-transform: uppercase;
}
.view a.info:hover {
  background:#72c02c;
}

.portfolio-responsive h2 {
  margin-top:0 !important;
}

/*CSS3 Hover Effect*/
.view-tenth img {
  left:10px;
  margin-left:-10px;
  position:relative;
   -webkit-transition: all 0.6s ease-in-out;
   -moz-transition: all 0.6s ease-in-out;
   -o-transition: all 0.6s ease-in-out;
   -ms-transition: all 0.6s ease-in-out;
   transition: all 0.6s ease-in-out;
}
.view-tenth .mask {
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth h2 {
   color: #333;
   margin: 20px 40px 0;
   background: transparent;
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth p {
   color: #333;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth:hover img {
   -webkit-transform: scale(2) rotate(10deg);
   -moz-transform: scale(2) rotate(10deg);
   -o-transform: scale(2) rotate(10deg);
   -ms-transform: scale(2) rotate(10deg);
   transform: scale(2) rotate(10deg);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=30)";
   filter: alpha(opacity=30);
   opacity: 0.3;
}
.view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   font-size:16px;
}

.press img {
   opacity:0.5;
   filter:alpha(opacity=50);
}

.press img:hover {
   opacity:1.0;
   filter:alpha(opacity=100);
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .portfolio-4-columns .mask h2 {
      font-size: 20px;
      margin-bottom: 0px;
   }

   .portfolio-4-columns .mask p {
      display: none;
   }
}