<div class="col-sm-12" ng-hide="isLoggedIn()">
    <h1>Login</h1>
    <form class="form" name="forms" ng-submit="login(forms)" novalidate>
        <div class="form-group">
            <md-input-container>
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="user.email" required>
            </md-input-container>
        </div>
        <div class="form-group">
            <md-input-container>
                <label>Password</label>
                <input type="password" name="password" class="form-control" ng-model="user.password" required>
            </md-input-container>
        </div>
        <div class="form-group has-error">
            <p class="help-block" ng-show="forms.email.$error.required && forms.password.$error.required && submitted">
                Please enter your email and password.
            </p>
            <p class="help-block" ng-show="forms.email.$error.email && submitted">
                Please enter a valid email.
            </p>
            <p class="help-block">{{ errors.other }}</p>
        </div>
        <div>
            <button class="btn btn-inverse btn-lg btn-login" type="submit">
                Login
            </button>
            <a class="btn btn-default btn-lg btn-register" href="/signup">
            Register
          </a>
        </div>
        <hr>
    </form>
</div>
