<div ng-include="'components/navbar/navbar.html'"></div>
<!-- Section: intro -->
<!-- add id='intro' to get parralex effect -->


<section class="intro" data-height='100%' style="min-height: 100%; background-image: url('assets/images/babydoc1.png')">
    <div class="slogan">
        <h2 style="color: #ff80ab;">Your Child Deserves A House Call</h2>
        <p style="color: #ff80ab;">A doctor to your home in under 40 minutes</p>
        <a href="#login">
            <md-button class="md-accent md-raised md-hue-1" style="height:80px; width:400px; border-radius: 50px;"><span style="font-size: 30px; color: white; ">Request A Doctor</span></md-button>
        </a>
        <div><span style="color: #ff80ab;">Available in Manhattan in New York City. <a ng-click="modal()"> Want Baby Doctor near you? Let us know</a></span>
        </div>
        <!-- <a href="#contact" class="btn btn-skin scroll">Request A Doctor Now</a> -->
    </div>
</section>



<!-- /Section: intro -->
<!-- <img src="assets/images/1.jpg"> -->
<!-- Section: about -->
<section id="about" class="home-section text-center bg-gray">
    <div class="heading-about marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="section-heading">
                        <h2>Get a doctor to your home</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="team ">
                    <div class="inner">
                        <div class="avatar"><img src="assets/images/reqAdoc.png" alt="" class="img-responsive" style="padding-bottom: 60px;" /></div>
                    </div>
                    <h3 style="font-size: 40px; padding-top:25px; color: #3498DB;">EASY</h3><span> Click on “Request a Doctor” Get matched with a pediatrician</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="team ">
                    <div class="inner">
                        <div class="avatar"><img src="assets/images/fast.png" alt="" class="img-responsive" /></div>
                    </div>
                    <h3 style="font-size: 40px; color:#ff80ab;">FAST</h3>
                    <span>A doctor in under 40 minutes Doctor comes right to your home
                        </span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
                <div class="team ">
                    <div class="inner">
                        <div class="avatar"><img src="assets/images/affordable.png" alt="" class="img-responsive" /></div>
                    </div>
                    <h3 style="font-size: 40px; color: #3498DB;">Reliable</h3> No traffic, no waiting rooms Starting at $250 per visit
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: about -->
<!-- Section: services -->
<section id="service" class="home-section text-center" style="background-color: #FEEFF1">
    <div class="heading-about marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="section-heading">
                        <h1> Our Doctors <br>are all Pediatricians</h1>
                        <!--      <h4>We’re like a doctor in the family. Our trusted team of doctors are highly skilled. And the best part? A board-certified doctor can be at your house in a jiffy</h4> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa"><img src="assets/images/screened.png" alt="" class="img-responsive" /></i>
                    </div>
                    <div class="service-desc">
                        <h5 style="font-size: 40px; color: #3498DB;">Screened</h5>
                        <p>Full background check Outstanding medical education Strong experience in pediatrics</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa"><img src="assets/images/cert.png" alt="" class="img-responsive" /></i>
                    </div>
                    <div class="service-desc">
                        <h5 style="font-size: 40px; color: #3498DB;">Certified</h5>
                        <p>Medical Board license Completion of pediatric residency Verified by third-party services</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa"><img src="assets/images/care.png" alt="" class="img-responsive" /></i>
                    </div>
                    <div class="service-desc">
                        <br>
                        <h5 style="font-size: 40px; color: #3498DB;">Caring</h5>
                        <p>Top-notch medical care Passion for working with kids Commitment to excellence</p>
                    </div>
                </div>
            </div>
           
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img src="assets/images/doctors.png" class="img-responsive" />
            </div>
        </div>
    </div>
</section>
<!-- Section: services -->
<section id="service" class="home-section text-center">
    <div class="heading-about marginbot-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="section-heading">
                        <h1> Handling Your Urgent Care Needs</h1>
                        <!--      <h4>We’re like a doctor in the family. Our trusted team of doctors are highly skilled. And the best part? A board-certified doctor can be at your house in a jiffy</h4> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="service-box">
                    <div class="service-desc">
                        <h5 style="font-size: 35px; color: #EA415A;">Services Performed</h5>
                        <div style="text-align: left" class="row container">
                            <h2>Common Infections</h2>
                            <ul class="col-md-3" style="font-size:20px; font-weight:bold;">
                                <li>Cold and flu</li>
                                <li>Bronchitis</li>
                                <li>Sinus infections </li>
                            </ul>
                            <ul class="col-md-3 col-lg-6" style="font-size:20px; font-weight:bold;">
                                <li>Earaches</li>
                                <li>UTIs</li>
                                <li>Stomach bugs</li>
                            </ul>
                        </div>
                        <br>
                        <div style="text-align: left" class="row container">
                            <h2>Acute Conditions</h2>
                            <ul class="col-md-3" style="font-size:20px; font-weight:bold;">
                                <li>Allergies</li>
                                <li>Rashes</li>
                                <li>Blisters </li>
                            </ul>
                            <ul class="col-md-3" style="font-size:20px; font-weight:bold;">
                                <li>Asthma</li>
                                <li>Nausea</li>
                                <li>Immediate relief</li>
                            </ul>
                        </div>
                        <div style="text-align: left" class="row container">
                            <h2>Urgent Injuries</h2>
                            <ul class="col-md-3" style="font-size:20px; font-weight:bold;">
                                <li>Bites</li>
                                <li>Stings</li>
                                <li>Cuts</li>
                            </ul>
                            <ul class="col-md-3" style="font-size:20px; font-weight:bold;">
                                <li>Splinters</li>
                                <li>Sprains</li>
                                <li>Strains</li>
                            </ul>
                        </div>
                        <p style="text-align: left">FOR EMERGENCIES, PLEASE CALL 911 NOW </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="service-box">
                    <div class="service-desc">
                        <h5 style="font-size: 35px; color: #EA415A;">Coverage Area</h5>
                        <h2>Servicing all of Manhattan<br>Everyday, 5pm – 2am</h2>
                        <div class="view view-tenth">
                            <center>
                                <img class="img-responsive" src="assets/images/nycMap.png">
                            </center>
                            <div class="mask">
                                <h2>Coverage Area</h2>
                                <p>Service is available any where in New York City. House call pediatrics are standing by now!
                                </p>
                                <a href="/signup" class="info">Request A Doctor Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
            </div>
        </div>
</section>
<!-- /Section: services -->
<!-- Section: works -->
<!--     <section id="works" class="home-section text-center bg-gray">
        <div class="heading-works marginbot-50">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="section-heading">
                    <h2>Recent Works</h2>
                    <p>Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12" >
                    <div class="row gallery-item">
                        <div class="col-md-3">
                            <a href="assets/images/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/1.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/2.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/3.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/4.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/5.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/5.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/6.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/6.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/7.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/7.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/8.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/8.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- /Section: works -->
<!-- Section: contact -->
<section id="contact" class=" text-center" style="min-height: 100%; background-image: url('assets/images/loginBack.png');">
    <div class="heading-contact marginbot-50">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-4">
                <div class="col-lg-6">
                    <div class="col-sm-12" ng-hide="isLoggedIn()">
                        <h1>Get In Touch</h1>
                        <form class="form" name="forms" ng-submit="login(forms)" novalidate>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="Name" name="Name" class="form-control" ng-model="contact.Name" required>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="email" class="form-control" ng-model="contact.email" required>
                            </div>
                            <div class="form-group">
                                <label>Message</label>

                                <textarea rows="15" cols="45">Please leave us a message and we will get back to you</textarea>

                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit">
                                    Send
                                </button>
                                <label>
                                    <input type="checkbox"> I'm A Doctor
                                </label>
                            </div>
                            <hr>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: contact -->
<!-- Section: contact -->
<section id="login" class="home-section text-center">
    <div class="heading-contact marginbot-50">
        <div class="container">
            <h2>Get in touch</h2>
            <p>Sign Up or Login to Get yo Baby a doctor NOW!</p>
        </div>
        <div class="container">
            <div class="col-lg-12 col-md-12 " class="row">
                <div>
                    <div class="col-lg-4 col-md-4 col-sm-4 row">
                        <login-Form></login-Form>
                        <p>Forget Password? <a href="/signup">Click Here</a> </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-md-offset-2">
                        <!-- <sign-up-form></sign-up-form> -->
                        <div layout="row" layout-wrap>
                            <div flex="33">
                                <img src="assets/images/step1.png" alt="">
                                <h3>Parent Info</h3>
                                <ul style="list-style-type: none; text-align: left;">
                                    <li>Address</li>
                                    <li>Phone</li>
                                    <li>Email</li>
                                </ul>
                            </div>
                            <div flex="33">
                                <img src="assets/images/step2.png" alt="">
                                <h3>Child Info</h3>
                                <ul style="list-style-type: none; text-align: left;">
                                    <li>Age</li>
                                    <li>Gender</li>
                                    <li>Symptoms</li>
                                </ul>
                            </div>
                            <div flex="33">
                                <img src="assets/images/step3.png" alt="">
                                <h3>Payment</h3>
                                <ul style="list-style-type: none; text-align: left;">
                                    <li>Credit Card</li>
                                    <li>CVC </li>
                                    <li>Confirmation</li>
                                </ul>
                            </div>
                            <a href="/signup" style="padding-left:375px;">
                                <md-button class="md-accent md-raised md-hue-1" style=" border-radius: 10px;"><span style="font-size: 30px; color: white; ">To: Step 1</span></md-button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- /Section: contact -->
<!-- start of footer -->
<!-- <div class="container">
    <center>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <p>Copyright &copy; 2015 BabyDoctors -</p>
            </div>
        </div>
    </center>
</div>
<div id="footer">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="/About">Who We Are</a></li>
            <li><a href="/services">Our Doctors</a></li>
            <li><a href="/signup">Availability</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/pricing">Contact Us</a></li>
            <li><a href="/pricing">About Us</a></li>
            <li><a href="/faq">FAQ's</a></li>
            <li><a href="/pricing">Help</a></li>
        </ul>
    </div>
</div> -->
<!-- <div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
<form class="col s12 ng-pristine ng-untouched ng-valid ng-valid-email" ng-submit="saveAddress(address)" ng-model="address">
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.name">
                    <label class="active" for="first_name">Full Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="driversLicense" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.driversLicense">
                    <label class="active" for="">Drivers License Number</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="address1" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.street1">
                    <label class="active" for="address1">Address Line 1 (Street address, P.O. box, company name, etc.)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="address2" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.street2">
                    <label class="active" for="address2">Address Line 2 (Apartment., suite, unit, floor, etc.)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s7">
                    <input id="city" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.city">
                    <label class="active" for="city">City</label>
                </div>
                <div class="input-field col s2">
                    <input id="password" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.state">
                    <label class="active" for="password">State</label>
                </div>
                <div class="input-field col s3">
                    <input id="zipcode" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.zip">
                    <label class="active" for="zipcode">Zip</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="phone" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.phone">
                    <label class="active" for="phone">Phone Number</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate ng-pristine ng-untouched ng-valid ng-valid-email" ng-model="address.email">
                    <label class="active" for="email">Email</label>
                </div>
                <div class="input-field col s6">
                <button class="col s5 btn waves-effect waves-light red " type="button" name="action" ng-class="buttonColor" ng-click="resetForm()">Clear Form
                </button>
                <!-- </div>
                <!-- <div class="input-field col s6"> -->
<!--       <button class=" col s5 btn waves-effect waves-light right" ng-click="submit()" name="action" ng-class="buttonColor">Confirm
                </button>
              </form> -->
<!-- </div> -->
<!--       </div>
            </div> -->
