
<div ng-include="'components/navbar/navbar.html'"></div>



    <!-- Section: intro -->
    <section id="intro" class="intro" style="background-image: url('assets/images/img-bg.jpg')">
        <div class="slogan">
            <h1>Baby Doctor</h1>
            <p>Doctors Who Care</p>
            <a href="#contact" class="btn btn-skin scroll">Request A Doctor Now</a>
        </div>
    </section>
    <!-- /Section: intro -->
<!-- <img src="assets/images/1.jpg"> -->
    <!-- Section: about -->
    <section id="about" class="home-section text-center bg-gray">
        <div class="heading-about marginbot-50">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                    <h2>About us</h2>
                    <p>Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has</p>
                    </div>

                </div>
            </div>
            </div>
        </div>
        <div class="container">

        <div class="row">

            <div class="col-xs-6 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Maura Daniels</h5>
                        <p class="subtitle">Doctor AA</p>
                        <div class="avatar"><img src="assets/images/1.jpg" alt="" class="img-responsive" /></div>
                    </div>

                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Jack Briane</h5>
                        <p class="subtitle">Doctor BB</p>
                        <div class="avatar"><img src="assets/images/2.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Tom Petterson</h5>
                        <p class="subtitle">Doctor CC</p>
                        <div class="avatar"><img src="assets/images/3.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>

            </div>
                <div class="col-xs-6 col-sm-3 col-md-3">

                <div class="team boxed-grey">
                    <div class="inner">
                        <h5>Jack Briane</h5>
                        <p class="subtitle">Doctor BB</p>
                        <div class="avatar"><img src="assets/images/4.jpg" alt="" class="img-responsive" /></div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>
    <!-- /Section: about -->


    <!-- Section: services -->
    <section id="service" class="home-section text-center">

        <div class="heading-about marginbot-50">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                    <h1> Expert help when you need it</h1>
                    <h4>We’re like a doctor in the family. Our trusted team of doctors are highly skilled. And the best part? A board-certified doctor can be at your house in a jiffy</h4>
                    </div>




                </div>
            </div>
            </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-code fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Highly Skilled</h5>
                        <p>Board certified and experienced.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-suitcase fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>Order more exams if needed</h5>
                        <p>Perform diagnostic exams, prescribe medications, order and interpret lab tests and x-rays.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <img src="/assets/images/medical50.png">
                    </div>
                    <div class="service-desc">
                        <h5>Persoal</h5>
                        <p>I promise all our doctors love babies</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 col-md-3">

                <div class="service-box">
                    <div class="service-icon">
                        <i class="fa fa-rocket fa-3x"></i>
                    </div>
                    <div class="service-desc">
                        <h5>In the area</h5>
                        <p>our doctors are in the area and can be at your door step in a jiffy</p>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>
    <!-- /Section: services -->


    <!-- Section: works -->
    <section id="works" class="home-section text-center bg-gray">
        <div class="heading-works marginbot-50">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                    <h2>Recent Works</h2>
                    <p>Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has</p>
                    </div>

                </div>
            </div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12" >

                    <div class="row gallery-item">
                        <div class="col-md-3">
                            <a href="assets/images/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/1.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/2.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/3.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/4.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/5.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/5.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/6.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/6.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/7.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/7.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="assets/images/8.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="assets/images/1@2x.jpg">
                                <img src="assets/images/8.jpg" class="img-responsive" alt="img">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /Section: works -->

    <!-- Section: contact -->
    <section id="contact" class="home-section text-center">
        <div class="heading-contact marginbot-50">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="section-heading">
                    <h2>Get in touch</h2>
                    <p>Sign Up or Login to Get yo Baby a doctor NOW!</p>
                    </div>

                </div>
            </div>
            </div>
        </div>
        <div class="container">

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
        
            <div class="col-lg-6 row">
               <login-Form ></login-Form>
            </div>

            <div class="col-lg-6 row">
               <sign-up-form></sign-up-form>
           </div>

        </div>

            <div class="widget-contact row">
                 <div class="col-lg-6">
                <address>
                  <strong>BabyDoctors Ltd.</strong><br>
                  Big Villa 334 Awesome, Beautiful Suite 1200<br>
                  San Francisco, CA 94107<br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
                </div>

                <div class="col-lg-6">
                <address>
                  <strong>Email</strong><br>
                  <a href="mailto:#">doctos@babydoctor.com</a><br />
                   <a href="mailto:#">doctors@babydoctor.com</a>
                </address>

                </div>
            </div>

    </div>

        </div>
    </section>
    <!-- /Section: contact -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">

                    <p>Copyright &copy; 2015 BabyDoctors -</p>
                </div>
            </div>
        </div>
    </footer>




<!-- <div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
<form class="col s12 ng-pristine ng-untouched ng-valid ng-valid-email" ng-submit="saveAddress(address)" ng-model="address">
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.name">
                    <label class="active" for="first_name">Full Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="driversLicense" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.driversLicense">
                    <label class="active" for="">Drivers License Number</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="address1" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.street1">
                    <label class="active" for="address1">Address Line 1 (Street address, P.O. box, company name, etc.)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="address2" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.street2">
                    <label class="active" for="address2">Address Line 2 (Apartment., suite, unit, floor, etc.)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s7">
                    <input id="city" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.city">
                    <label class="active" for="city">City</label>
                </div>
                <div class="input-field col s2">
                    <input id="password" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.state">
                    <label class="active" for="password">State</label>
                </div>
                <div class="input-field col s3">
                    <input id="zipcode" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.zip">
                    <label class="active" for="zipcode">Zip</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="phone" type="text" class="validate ng-pristine ng-untouched ng-valid" ng-model="address.phone">
                    <label class="active" for="phone">Phone Number</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate ng-pristine ng-untouched ng-valid ng-valid-email" ng-model="address.email">
                    <label class="active" for="email">Email</label>
                </div>
                <div class="input-field col s6">
                <button class="col s5 btn waves-effect waves-light red " type="button" name="action" ng-class="buttonColor" ng-click="resetForm()">Clear Form
                </button>
                <!-- </div>
                <!-- <div class="input-field col s6"> -->
          <!--       <button class=" col s5 btn waves-effect waves-light right" ng-click="submit()" name="action" ng-class="buttonColor">Confirm
                </button>
              </form> -->
                <!-- </div> -->

      <!--       </div>
            </div> -->