<div ng-include="'components/navbar/navbar.html'"></div>
<br>
<br>
<br>
<br>


<div class="container">

    <div class="col-md-7 col-lg-5 md-whiteframe-z5">
                <div class="row" style="margin-left:5px; margin-right:5px; margin-bottom:15px;">
                    <md-toolbar class="md-accent">
                        <center>
                            <div class="span4">
                                <h3 class="md-toolbar-tools">Step 1: Parent Info</h3>
                            </div>
                        </center>
                    </md-toolbar>
                    <br>

                
                        <form ng-submit="saveAddress(address)" ng-model="address">

                        <md-input-container>
                            <label>Full Name</label>
                            <input type="text"  ng-model="address.name"/>
                        </md-input-container>

                        <md-input-container>
                            <label>Address Line 1 (Street address, P.O. box, company name, etc.)</label>
                            <input type="text"  ng-model="address.street1"/>
                        </md-input-container>

                        <md-input-container>
                            <label>Address Line 2 (Apartment., suite, unit, floor, etc.)</label>
                            <input type="text"  ng-model="address.street2"/>
                        </md-input-container>

                        <md-input-container>
                            <label>City </label>
                            <input type="text" ng-model="address.city">
                        </md-input-container>

                         <md-input-container>
                            <label>State</label>
                            <input type="text" ng-model="address.state">
                        </md-input-container>

                         <md-input-container>
                            <label>Zip Code</label>
                            <input type="text" ng-model="address.zip">
                        </md-input-container>

                         <md-input-container>
                            <label>Phone Number</label>
                            <input type="text" ng-model="address.phone">
                        </md-input-container>

                      

                            <center>
                                <md-button ng-click="submit()" name="action" class = 'md-primary md-raised'>Submit</md-button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>

        </div>
