<div ng-include="'components/navbar/navbar.html'"></div>
<br>
<br>
<br>
<br>
<md-progress-linear class="md-accent" md-mode="determinate" value="33"></md-progress-linear>
<md-progress-linear class="md-accent" md-mode="determinate" value="33"></md-progress-linear>
<md-progress-linear class="md-accent" md-mode="determinate" value="33"></md-progress-linear>
<md-progress-linear style="padding-bottom:10px;" class="md-accent" md-mode="determinate" value="33"></md-progress-linear>
<p style="padding-left:10px;"> 33% Starting.. Please fill out the required info!!</p>

<div layout="row" layout-wrap>
    <div flex="60">
        <md-card style="margin-left:30px; margin-right:30px;">
            <div class="row" style="margin-left:5px; margin-right:5px;">
                <md-toolbar class="md-accent">
                    <center>
                        <div class="span4">
                            <h3 class="md-toolbar-tools">Step 1: Parent Info</h3>
                        </div>
                    </center>
                </md-toolbar>
                <br>
                <form ng-submit="saveAddress(address)" ng-model="address">
                    <md-input-container>
                        <label>Full Name</label>
                        <input type="text" ng-model="address.name" />
                    </md-input-container>

                    <md-input-container>
                        <label>Address Line 1 (Street address, P.O. box, company name, etc.)</label>
                        <input type="text" ng-model="address.street1" />
                    </md-input-container>

                    <md-input-container>
                        <label>Address Line 2 (Apartment., suite, unit, floor, etc.)</label>
                        <input type="text" ng-model="address.street2" />
                    </md-input-container>

                    <md-input-container>
                        <label>City </label>
                        <input type="text" ng-model="address.city">
                    </md-input-container>

                    <div layout="row">

                        <md-input-container flex="33">
                            <label>State</label>
                            <input type="text" ng-model="address.state">
                        </md-input-container>

                        <md-input-container flex="33">
                            <label>Zip Code</label>
                            <input type="text" ng-model="address.zip">
                        </md-input-container>

                        <md-input-container flex="33">
                            <label>Phone Number</label>
                            <input type="text" ng-model="address.phone">
                        </md-input-container>

                    </div>
                    <center>
                        <md-button ng-click="submit()" name="action" class="md-raised md-primary">Submit</md-button>
                    </center>
                </form>
            </div>
        </md-card>
    </div>

    <div flex="40" hide-sm hide-sm>
        <md-card style="margin-left:30px; margin-right:30px; padding-bottom:15px;">
            <md-toolbar class="md-accent">
                <div class="span4">
                    <center>
                        <h3 class="md-toolbar-tools">Your order Information</h3>
                    </center>
                </div>
            </md-toolbar>
            <br>

            <h4>your Total charge is <a style="color:#3498db">{{chargeNow | currency}}</a></h4>
            <md-content class="md-padding">
                <p>You will only have to put your credit card information in once. Next time you sign in we will have your credit card on file, So you can quickly and easly get the help you need.</p>
            </md-content>
            <div class="col-md-12 col-sm-12">
                <md-content class="md-padding">
                    <h4 style="color: #3ab4df;">We Also have VIP Annual Plans:</h4>
                    <h5>Platinum Membership -- $2,999</h4>
                                     <ul class="pricing-content list-unstyled" style="background-color:white;">
                                    <li>Unlimited house calls for 12 months*</li>
                                    <li>Premium customer service support</li>
                                </ul>

                                   <h5>Silver Membership -- $1,999</h5>
                    <ul>
                        <li>Covers 10 house calls for 12 months</li>
                        <li>Enhanced customer service support</li>

                    </ul>
                </md-content>

            </div>
        </md-card>

    </div>
</div>